XML_Data_DU/FinalProject/wine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="wine" type="wineType"/>
    <xs:complexType name="wineType">
        <xs:sequence>
            <xs:element type="winenameType" name="winename" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="winenameType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="additionalname"/>
            <xs:element type="xs:string" name="variety"/>
            <xs:element type="xs:string" name="vintage"/>
            <xs:element type="xs:string" name="winetype"/>
            <xs:element type="xs:string" name="origin"/>
            <xs:element type="xs:string" name="category"/>
            <xs:element type="xs:string" name="producer"/>
            <xs:element type="xs:string" name="reseller"/>
            <xs:element type="xs:string" name="foodaccompaniments"/>
            <xs:element type="xs:string" name="customextension"/>
            <xs:element type="xs:string" name="notes"/>
            <xs:element type="xs:string" name="generator"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>