XML_Data_DU/HW3/president.dtd

<!--Paul Pearson-->
        <!--president.dtd-->


        <!ELEMENT presidents (president)*>
        <!ELEMENT president (number|name|took_office|left_office|party|term)*>
        <!ELEMENT number (#PCDATA)>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT took_office (#PCDATA)>
        <!ELEMENT left_office (#PCDATA)>
        <!ELEMENT party (#PCDATA)>
        <!ELEMENT term (number|vice_president)*>
        <!ELEMENT vice_president (#PCDATA)>
